<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075229310886-csk6fk3g7hatletmon8b8voaj9aqockd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075229310886-csk6fk3g7hatletmon8b8voaj9aqockd</string>
	<key>API_KEY</key>
	<string>AIzaSyCeHygqC10f1qV4WIvV0TXHjvCCY0-k38M</string>
	<key>GCM_SENDER_ID</key>
	<string>1075229310886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.redflight.SafelyApp</string>
	<key>PROJECT_ID</key>
	<string>safelyapp-rh7u7</string>
	<key>STORAGE_BUCKET</key>
	<string>safelyapp-rh7u7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075229310886:ios:84a82778ef72139c2a5967</string>
</dict>
</plist>